<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:fragment="navbar">
    <ul>
        <!--<li><a href="/imports/view">imports/edit</a></li>-->
        <li><a href="/competitions">competitions</a></li>
        <!--<li><a href="/matches">fixture/matches</a></li>-->
        <li><a href="/teams">teams</a></li>
        <!--<li><a href="/players">players</a></li>-->
        <!--<li><a href="/managers">managers</a></li>-->
        <!--<li><a href="/referee">referee</a></li>-->
        <!--<li><a href="/bets">bets</a></li>-->
        <!--<li><a href="/stats">stats</a></li>-->
    </ul>
</header>
<header id="navigation" th:fragment="naviyear(par)">
    <ul>
        <li><a th:href="${par} + '?season=1617'">1617</a></li>
        <li><a th:href="${par} + '?season=1718'">1718</a></li>
        <li><a th:href="${par} + '?season=1819'">1819</a></li>
    </ul>
</header>
</body>
</html>
