<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}"/>
    <title>competition</title>
</head>
<body>
<article>
    <div id="wrapper">
    <header th:insert="basic/header.html::navbar">
    </header>
        <div id="contentliquid">
            <div id="content">
                <table id="hor-minimalist-b">
                    <tr>
                        <th>Name</th><th>Points</th><th>MP</th><th>W</th><th>D</th><th>L</th><th>GD</th>
                        <th>GF</th><th>GA</th><th></th>
                    </tr>
                    <tr th:each="c : ${competition}">
                        <td th:text="${c.team}"></td>
                        <td th:text="${c.pts}"></td>
                        <td th:text="${c.p}"></td>
                        <td th:text="${c.w}"></td>
                        <td th:text="${c.d}"></td>
                        <td th:text="${c.l}"></td>
                        <td th:text="${c.gd}"></td>
                        <td th:text="${c.f}"></td>
                        <td th:text="${c.a}"></td>
                        <td th:text="${c.serie}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="leftcolumn"></div>
    </div>
</article>
</body>
</html>
