<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}"/>
    <title>matches</title>
</head>
<body>
<header th:include="header::navbar">
</header>
<article>
    <a th:href="@{/matches(s_id=1617)}">1617</a>&nbsp;
    <a th:href="@{/matches(s_id=1718)}">1718</a>&nbsp;
    <a th:href="@{/matches(s_id=1819)}">1819</a>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="match : ${matches}">
            <td th:text="${#strings.substring(match.date,0,10)}"></td>
            <td th:text="${match.competition}"></td>
            <td th:text="${match.home_team}"></td>
            <td th:text="${match.hg}"></td>
            <td th:text="':'"></td>
            <td th:text="${match.ag}"></td>
            <td th:text="${match.away_team}"></td>
        </tr>
    </table>
</article>
</body>
</html>
